<html>
        <head>
            <title>GSN</title>
        </head>
        <body>
            <div>
                <h1><a href="">Grupos System Network</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">Mi Primer Post en este blog</a></h2>
                <p>Compañia dedicada al diseño de pagina Web, Instalacion y mantenimiento de Sistemas informaticos, ademas de reparacion y mantenimiento de computadoras asi como asesorias para el diseño de volantes para tu negocios.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>
        </body>
    </html>
